In [1]:
from IPython.core.display import display, HTML
display(HTML(
    '<style>'
        '#notebook { padding-top:0px !important; } ' 
        '.container { width:100% !important; } '
        '.end_space { min-height:0px !important; } '
    '</style>'
))

C:\Users\adidr\AppData\Local\Temp\ipykernel_35296\233690474.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

# Goals
1. Subscribing to real time market data
2. Using pendingTickersEvent to handle updates
3. Display the watchlist!

### Connect to IB

In [3]:
from ib_insync import *
util.startLoop()
ib = IB()
ib.connect(port=4001,clientId=10)

In [4]:
a=[1,2,3]
a[::-1]

[3, 2, 1]

### Subscribe to Market Data

In [5]:
contract = Stock(symbol='TSLA',exchange='SMART',currency='USD')
ib.qualifyContracts(contract)
ticker = ib.reqMktData(contract,"",False,False)

In [6]:
 ticker.high

nan

### Use PendingTickersEvent to handle ticker updates

In [7]:
def onPendingTickers(tickers):
    for ticker in tickers:
        print(ticker.contract.symbol,ticker.bid,ticker.bidSize,ticker.ask,ticker.askSize,ticker.last,ticker.lastSize)

### Cancel market data

In [8]:
ib.cancelMktData(contract)

### Symbols

In [9]:
symbol_list = ['TSLA','RIVN','QQQ','BABA','NVDA','META','AAPL']

In [10]:
for symbol in symbol_list:
    contract = Stock(symbol,exchange='SMART',currency='USD')
    ib.qualifyContracts(contract)
    ticker = ib.reqMktData(contract,"",False,False)

In [11]:
ib.pendingTickersEvent.clear()

In [12]:
previous_trade_prices={symbol:-1 for symbol in symbol_list}
previous_colors={symbol:'' for symbol in symbol_list}
def color_row(row):
    color = previous_colors[row.name]
    if row.name in previous_trade_prices:
       if row['lastTradePrice']>previous_trade_prices[row.name]:
           color = 'green'
       elif row['lastTradePrice']<previous_trade_prices[row.name]:
           color = 'red'
       else:
           color = previous_colors[row.name]
    
    style = f'background-color: {color}'
    previous_trade_prices[row.name]=row['lastTradePrice']
    previous_colors[row.name]=color
    return [style]*len(row)

In [13]:
import pandas as pd 
import numpy as np
from IPython.display import display,clear_output
df = pd.DataFrame(columns=['bid','bidSize','ask','askSize','lastTradePrice','lastTradeVolume','high','close','PCT_CHANGE'],index=symbol_list)
def onPendingTickersWithStyle(tickers):
    for ticker in list(tickers)[::-1]:
        df.loc[ticker.contract.symbol]=(ticker.bid,ticker.bidSize,ticker.ask,ticker.askSize,ticker.last,ticker.lastSize,ticker.high,ticker.close,np.round((ticker.last-ticker.close)/ticker.close*100,2))
    styled_df = df.style.apply(color_row, axis=1).set_table_styles([{'selector': 'th',
                                          'props': [('background-color', '#ffff99'),
                                                    ('font-size', '16px')]},  # Make header font larger
                                         {'selector': 'td',
                                          'props': [('font-size', '16px')]},  # Make cell font larger
                                         {'selector': 'td:hover',
                                          'props': [('background-color', 'cyan')]},  # Highlight cells on hover
                                         ],
                                        overwrite=False)
    clear_output()
    display(styled_df)

In [14]:
ib.pendingTickersEvent.clear()

In [15]:
ib.pendingTickersEvent+=onPendingTickersWithStyle

In [17]:
df.style.apply(color_row,axis=1)

######